[Oo]bj/
[Bb]in/
logs_app/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.suo
*.userprefs
*DS_Store
*.sln.ide
.vs
.idea*

Constructors.Test/AuthorTest.cs
Methods.Test/AuthorTest.cs
Integration.API.Test/AuthorControllerTestMock.cs
Integration.API.Test/IntegrationAuthorControllerTest.cs